<?xml version="1.0"?>
<launch>   
    <arg name="bag_sensors" default="/home/leo/aa_data/new_data/data_05-11-21/people_detection_zotac_3_2021-11-05-12-12-12.bag" />
    
    <node pkg="rosbag" type="play" name="rosbag_play_sensors"
    args="--loop $(arg bag_sensors) --topics /camera/camera1/aligned_depth_to_color/image_raw /camera/camera1/color/image_raw /scan /tf /tf_static /no_go_map /map"/>  
     
</launch>


