<?xml version="1.0"?>
<launch>   
    <arg name="bag_file" default="/home/leo/Documents/mesapro/bags/evaluation/all_data_test_2022-04-20-12-38-46.bag" />
    
    <node pkg="rosbag" type="play" name="rosbag_play_sensors"
    args="--loop $(arg bag_file) --topics /flir_module_driver1/thermal/image_raw /flir_module_driver1/thermal/temp_meas_range /flir_module_driver2/thermal/image_raw /flir_module_driver2/thermal/temp_meas_range /camera1/color/image_raw /camera1/aligned_depth_to_color/image_raw /camera1/depth/image_rect_raw /camera1/depth/camera_info /camera1/color/camera_info /camera1/aligned_depth_to_color/camera_info /camera2/color/image_raw /camera2/aligned_depth_to_color/image_raw /camera2/depth/image_rect_raw /camera2/depth/camera_info /camera2/color/camera_info /camera2/aligned_depth_to_color/camera_info /scan /tf /tf_static /no_go_map /map /topological_map_2 /robot_pose /nav_vel /teleop_joy/joy_priority /people_tracker/pose_array /human_info_camera"/>  
     
</launch>


