<?xml version="1.0"?>
<launch>
    <arg name="config_direct" default="" /> 
    <arg name="thermal_info" default="" />
    <arg name="image_rotation" default="" />
    <arg name="n_cameras" default="" />
    <arg name="openpose_visual" default="" />    
    
    
    <node pkg="mesapro" type="human_detector_rgbd_thermal.py" name="hri_camera_detector">
        <param name="config_direct" value="$(arg config_direct)"/>
        <param name="thermal_info" type="bool" value="$(arg thermal_info)"/>
        <param name="image_rotation" value="$(arg image_rotation)"/>
        <param name="n_cameras" type="int" value="$(arg n_cameras)"/>
        <param name="openpose_visual" type="bool" value="$(arg openpose_visual)"/>
    </node>
</launch>


