<?xml version="1.0"?>
<launch>
    <arg name="audio_direct" default="" /> 
    <arg name="operation_mode" default="" /> 
    
    <node pkg="mesapro" type="human_safety_system.py" name="hri_safety_system"> 
	<param name="operation_mode" value="$(arg operation_mode)"/>
    </node>
    <node pkg="mesapro" type="audio_alerts.py" name="hri_audio_alerts"> 
	<param name="audio_direct" value="$(arg audio_direct)"/>
    </node>
</launch>


