<?xml version="1.0"?>
<launch>
    <arg name="visual_mode" default="" />   
    <arg name="config_direct" default="" /> 
    <arg name="thermal_info" default="" /> 
    <arg name="n_cameras" default="" />

    <node pkg="mesapro" type="demo_graph_interf.py" name="hri_visualization"> 
	<param name="visual_mode" type="int" value="$(arg visual_mode)"/>
        <param name="config_direct" value="$(arg config_direct)"/>
        <param name="thermal_info" type="bool" value="$(arg thermal_info)"/>
        <param name="n_cameras" type="int" value="$(arg n_cameras)"/>
    </node>
</launch>


